In [1]:
from bs4 import BeautifulSoup
import requests
import json
import re
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
url = 'https://www.timeanddate.com/worldclock/full.html?sort=1'

In [3]:
response = requests.get(url)
response

In [4]:
soup = BeautifulSoup(response.text, 'lxml')

In [5]:
dates = soup.find_all('td', class_ = 'rbi')
countries = soup.find_all('a',href= re.compile('/worldclock/'))

In [6]:
df = pd.DataFrame(columns = ['Country', 'Date'])
COUNTRY = []
DATE = []

In [7]:
for country in countries:
    safe = country.text.strip('\n')
    COUNTRY.append(safe)

In [8]:
for date in dates:
    safe = date.text.strip('\n')
    DATE.append(safe)

In [9]:
N = 31
df.drop(index=df.index[:N], 
        axis=0, 
        inplace=True)

In [10]:
df['Country'] = COUNTRY

In [11]:
df

                                   Country Date
0                              World Clock  NaN
1                         Main World Clock  NaN
2                     Extended World Clock  NaN
3                     Personal World Clock  NaN
4                       World Time Lookup   NaN
..                                     ...  ...
388  Search for a City and Find Local Time  NaN
389                   Personal World Clock  NaN
390                        Meeting Planner  NaN
391                   Event Time Announcer  NaN
392                            World Clock  NaN

[393 rows x 2 columns]

In [27]:
df.drop(df.tail(6).index,inplace=True)

In [28]:
df['Date'] = DATE

In [29]:
df

                      Country            Date
31         Afghanistan, Kabul  วันศุกร์ 15:35
32            Albania, Tirana  วันศุกร์ 12:05
33           Algeria, Algiers  วันศุกร์ 12:05
34             Angola, Luanda  วันศุกร์ 12:05
35    Argentina, Buenos Aires  วันศุกร์ 08:05
..                        ...             ...
382            Vietnam, Hanoi  วันศุกร์ 18:05
383  Western Sahara, El Aaiún  วันศุกร์ 12:05
384               Yemen, Sana  วันศุกร์ 14:05
385            Zambia, Lusaka  วันศุกร์ 13:05
386          Zimbabwe, Harare  วันศุกร์ 13:05

[356 rows x 2 columns]

In [30]:
df.to_excel("output1.xlsx")