In [11]:
import json
import requests
import pandas as pd
import numpy as np

In [18]:
movie_rank_df = pd.read_json('https://raw.githubusercontent.com/hjorturlarsen/IMDB-top-100/master/data/movies.json')
movie_rank_df.set_index('title',inplace=True)
movie_rank_df
#load json into dataframe for data preparing

                                    rank         id
title
The Shawshank Redemption               1  tt0111161
The Godfather                          2  tt0068646
The Godfather: Part II                 3  tt0071562
Pulp Fiction                           4  tt0110912
The Good, the Bad and the Ugly         5  tt0060196
...                                  ...        ...
Witness for the Prosecution           96  tt0051201
The Sting                             97  tt0070735
The Apartment                         98  tt0053604
Grave of the Fireflies                99  tt0095327
Indiana Jones and the Last Crusade   100  tt0097576

[100 rows x 2 columns]

In [20]:
movie_rank_df.columns = [col.upper() for col in movie_rank_df]

In [21]:
movie_rank_df=movie_rank_df.drop(columns='ID')
#id is no need for information presenting

In [22]:
movie_rank_df.isnull().sum()
#null elements checked

RANK    0
dtype: int64

In [23]:
movie_rank_df.head(10)
#for showing top 10 movies

                                               RANK
title
The Shawshank Redemption                          1
The Godfather                                     2
The Godfather: Part II                            3
Pulp Fiction                                      4
The Good, the Bad and the Ugly                    5
The Dark Knight                                   6
12 Angry Men                                      7
Schindler's List                                  8
The Lord of the Rings: The Return of the King     9
Fight Club                                       10

In [ ]:
movie_rank_df.tail(10)
#for showing last 10 bottom rank movies

In [6]:
Ranking = movie_rank_df['RANK']
Ranking

0       1
1       2
2       3
3       4
4       5
     ...
95     96
96     97
97     98
98     99
99    100
Name: RANK, Length: 100, dtype: int64